.newsize {
    font-weight: bold;
    text-align: center;
    margin: 20px auto; /* Це додає відступи вгорі і внизу та центрує блок по горизонталі */
    padding: 20px;
    border: 2px solid #ccc; /* Збільшено товщину рамки */
    border-radius: 10px; /* Збільшено радіус закруглення кутів */
    max-width: 400px; /* Збільшено максимальну ширину блоку */
    background-color: #f9f9f9; /* Додано фоновий колір */
}

.newsize label {
    display: block;
    margin-bottom: 10px; /* Збільшено відступ між заголовками і полями вводу */
}

.newsize input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px; /* Збільшено відступ між полями вводу і кнопкою */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.newsize input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.newsize input[type="submit"]:hover {
    background-color: #000;
}