input[type="text"] {
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 43%; 
}

img {
    width: 180px; 
    height: 180px; 
    display: block; 
    margin: 120px 640px;
}

input[type="email"] {
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%; 
}

input[type="password"] {
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 57%; 
}

input[type="password"][name="password2"] {
    top: 64%; 
}

h1.welcome-heading {
    color: #333;
    font-size: 42px;
    position: absolute;
    left: 50%;
    top: 10%; 
    transform: translateX(-50%);
    margin: 10px 0; 
}

input[type="submit"]#register-button {
    background-color: #000; 
    color: #fff; 
    border: none;
    padding: 10px 160px; 
    cursor: pointer;
    font-family: Squada system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    top: 80%; 
}

input[type="submit"]#register-button:hover {
    background-color: #222; 
}

span.login-button {
    color: #000; 
    font-family: Squada system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
    margin-top: 60px; 
    display: block; 
    text-decoration: underline; 
    position: absolute; 
    left: 60%; 
    transform: translateX(-50%); 
    top: 75%; 
}

span.already-have-account {
    color: #000; 
    font-family: Squada system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
    margin-top: 60px; 
    display: block; 
    position: absolute; 
    left: 45%; 
    transform: translateX(-50%); 
    top: 75%; 
}
