{% load static %}
{% include "drip/header.html" %}

<div class="cart-page">
    <p class="nummer">Order № {{future_order_id}}</p>
    <p class="data">{{date}}</p>
    {% for product in product_list %}
    <div class="cart-product">
        <img src="{% static 'drip/img/product2.png' %}" alt="">
        <div class="cart-product-info">
            <h3>{{ product.product.name }}</h3>

            <p class="cart-size">Size: 31</p>
            <div>
                <p>{{ product.product.brand}}</p>
                <p class="cart-price">{{ product.product.price }} ₴</p>
            </div>
        </div>
    </div>
    {% endfor %}


    <form action="/" method="post">
    </form>


    <hr>
    <div>
        <form action="/cart" method="POST">
            <div>
                <p>Contact Information</p>
                <input type="text" id="contactInforamtion" name="contactInforamtion" placeholder="" required>
            </div>
            <div>
                <p>Delivery Address</p>
                <input type="password" id="address" name="adress" placeholder="" required>
            </div>
            <div>
                <input type="submit" value="Delivery">
                <input type="submit">
            </div>
        </form>
    </div>
</div>
</body>
</html>