{% load static %}
{% include "drip/header.html" %}


<div class="cart-page">
    <p class="nummer">Order № {{future_order_id}}</p>
    <p class="data">{{date}}</p>
    {% for product in product_list %}

    <div class="cart-product">
        <img src="/media/{{ product.product_photo.photolink }}" alt="Photo">

        <div class="cart-product-info">
            <a href="/product/{{product.product.id}}"><h3>{{ product.product.name }}</h3></a>
            <p class="cart-size">Size: 31</p>
            <p> <a href="/remove_from_cart/{{product.product.id}}">Delete</a></p>
            <div>
                <p>{{ product.seller.username }}</p>
                <p class="cart-price">{{ product.product.price }} ₴</p>
            </div>
        </div>
    </div>

    {% endfor %}


    <hr>
    <div>
        <form action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
            <div>
                <p>Contact Information</p>
                <label for="id_full_name">Full Name:</label>
                {{form.full_name}}
                <label for="id_phone_number">Phone Number:</label>
                {{form.phone_number}}
            </div>
            <div>
                <p>Delivery Address</p>
                <label for="id_address">Address:</label>
                {{form.adress}}
            </div>
            <div>
                <span>{{error}}</span>
                <input type="submit" value="Purchase" >
                <input type="button" value="Cancel" onclick="window.location.href='/'">
            </div>
        </form>
    </div>
</div>
</body>
</html>