{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'drip/css/main.css' %}">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <a href="/" style="text-decoration: none;">
                    <img src="{% static 'drip/img/logo.png' %}" alt="Логотип">
                </a>
                <a href="/" style="text-decoration: none;">
                    <h1>DriP TRip</h1>
                </a>              
            </div>
            <div class="header-right">
                <div class="search">
                    <input type="text" placeholder="Search clothes">
                </div>
                <a href="/all_my_products">My products</a>
                <a href="/newproduct">
                    <img src="{% static 'drip/img/tshirt_icon.svg' %}" alt="">
                </a>
                <a href="/cart">
                    <img src="{% static 'drip/img/Cart_icon.svg' %}" alt="">
                </a>
                {% if sign %}
                <a href="{% url 'exit'%}">LogOut</a>
                {% else %}
                <a href="/login">Sign In</a>
                {% endif %}
            </div>
        </div>
    </header>