{% load static %}
{% include "drip/header.html" %}

    <main>
        <div class="category-block">
            <a href="/M" class="category"><div>Male</div></a>
            <a href="/F" class="category"><div>Female</div></a>
            <a href="/U" class="category"><div>Unisex</div></a>
            <a href="#" class="category"><div>Other</div></a>
        </div>
        <div class="main-block">
            <div class="filter-block">
                <div class="filter-category">
                    <div class="category-title">BRAND</div>
                    <div class="sub-category">
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Brand 1</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Brand 2</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Brand 3</div>
                        </label>
                    </div>
                </div>
                <div class="filter-category">
                    <div class="category-title">CATEGORY</div>
                    <div class="sub-category">
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Category 1</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Category 2</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Category 3</div>
                        </label>
                    </div>
                </div>
                <div class="filter-category">
                    <div class="category-title">TYPE</div>
                    <div class="sub-category">
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Type 1</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Type 2</div>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"/>
                            <div class="checkbox-checkmark"></div>
                            <div class="checkbox-body">Type 3</div>
                        </label>
                    </div>
                </div>
                <div class="filter-category">
                    <div class="category-title">PRICE</div>
                    <div class="sub-category">
                        <label>From: <input type="number"></label>
                        <label>To: <input type="number"></label>
                    </div>
                </div>
            </div>
            <div class="product-block">
                {% for product in products %}
                <div class="product">
                    <a href="">
                        <img src="{{ product.photoproduct_set.first.photolink }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <div class="description">
                            <p class="price">{{ product.price }} ₴</p>
                            <!-- Добавьте остальные поля, такие как бренд и описание, из модели Product -->
                            <p class="rating">4.0<img src="{% static 'drip/img/Star.png' %}"></p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script src="{% static 'drip/scripts/main.js' %}"></script>
</body>
</html>
