{% load static %}
{% include "drip/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'drip/css/newphoto.css' %}">
</head>
<body>
    {% if flag %}
    <form action= "{% url 'addphoto' product %}" method="post" enctype="multipart/form-data" class="photo-form">
    {% else %}
    <form action= "{% url 'newphoto' product %}" method="post" enctype="multipart/form-data" class="photo-form">
    {% endif %}
    
        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <input type="submit" id="anotherphoto" name="anotherphoto" value="Another photo">
        </div>

        <div>
            <input type="submit" id="submit-button" name="submit-button" value="Submit">
        </div>

    </form>
</body>
</html>
