{% load static %}
{% include "drip/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'drip/css/product.css' %}">
</head>
<body>
    <div class="container">

        <! -- Images -->
        <div><img src="/media/{{main_photo.photolink}}" alt="Main Image" width="400px" height="400px"/></div>
        <div>
            {% for photo in product_photos %}
            <img src="/media/{{photo.photolink}}" alt="All Images" width="100px" height="100px" />
            {% endfor %}
        </div>

        <! -- Desription -->
        <div>{{product.description}}</div>

        <! -- Info, buttons -->
        <div>
            <p><h2>{{product.name}}</h2></p>
            <p>{{product.brand}}</p>
            <p>{{product.sex}}</p>
            <p>{{product.price}}</p>
            <p>Size</p>
            <div>
                {% for size in sizes %}
                <div>{{size.size}}</div>
                {% endfor %}
            </div>

            <form action="{% url 'add_to_cart' id=product.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="url_from" value="{{request.path}}" />
                <input type="submit" name="add_to_cart" value="Add to Cart" />
            </form> 
            
            <input type="button" name="write_review" value="Write a review" />
        </div>

        <! -- Seller Block -->
        <div>
            <p>Seller: {{seller.username}}</p>
            <input type="button" name="show_contact" value="Show Contact" />
        </div>

        <! -- Reviews -->
        <div></div>

    </div>
</body>
</html>